<article class="panel panel-default">
    <div class="panel-body"><%= comment.body.gsub("\n", '<br/>').html_safe %></div>
  <div class="panel-footer"><%= comment.author.email %><br/><%= comment.created_at %></div>
</article>