

<%= render @post, hide_link: true %>

<br/>
<div  class="col-md-4" >

  <%= render 'comments/new' %>

</div>
<div id="comments" style="min-height: 400px">
  <%= render 'comments/comments_panel', comments: @comments %>
</div>
