

<%= render @post, hide_link: true %>


<div  class="col-md-12" >

  <%= render 'comments/new' %>

</div>

<div id="comments" class="clearfix col-md-12" style="min-height: 400px">
  <%= render 'comments/comments_panel', comments: @comments %>
</div>
